<!DOCTYPE html>
<html lang="pt-br">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
   
   <title>The way - A página que guia você</title>
  
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/animate.min.css" rel="stylesheet">
  <link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../assets/css/lightbox.css" rel="stylesheet">
  <link href="../../assets/css/main.css" rel="stylesheet">
  <link id="css-preset" href="../../assets/css/presets/preset1.css" rel="stylesheet">
  <link href="../../assets/css/responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../assets/css/estilotw.css">
  <link rel="shortcut icon" href="../../assets/images/logo.png">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
   
    <script type="text/javascript" src="../../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery.inview.min.js"></script>
    <script type="text/javascript" src="../../assets/js/wow.min.js"></script>
    <script type="text/javascript" src="../../assets/js/mousescroll.js"></script>
    <script type="text/javascript" src="../../assets/js/smoothscroll.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="../../assets/js/lightbox.min.js"></script>
    <script type="text/javascript" src="../../assets/js/main.js"></script>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  
  
 </head><!--/head(Cabeça)-->

<body>

  <!--.Pré-carregador-->  
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.Pré-carregador-->

  <header id=" Home ">

    </div><!--/#Controle deslizante doméstico-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"> Alternar de navegação </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../../index.html">
            <h1><img class="img-responsive" src="../../assets/images/T.png" alt="logo"></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 

            <li class="scroll"><a href="#Notificações"> Notificações </a></li>
            <li class="scroll"><a href="ajuda.html">    Ajuda        </a></li>  
            <li class="scroll"><a href="../../index.html">    Sair         </a></li>

          </ul>
        </div>
      </div>
    </div><!--/#Navegação principal(menu principal)-->
  </header><!--/# Home -->
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="row">
        <div class="lateral col-md-2">
          
          <div class="moldura-foto-perfil">
            <img src="images/logo-para-transportadora6.jpg">
          </div>
          
          <h3>Transpotadora</h3>
          
         <!-- <ul>
            <li class="scroll"><a href="perfilTransportadora.html"> Meus Dados           </a></li>
            <li class="scroll"><a href="ServicosRegistrados.html">  Serviços             </a></li>
            <li class="scroll"><a href="MeusFretes.html">           Meus usuarios   </a></li>
          </ul> -->

          <ul class="button">
            <button type="submit" class="btn btn-default">
            <li class="scroll"><a href="perfilTransportadora.html"> Meus Dados         </a></li>
            </button>
            <button type="submit" class="btn btn-info">
            <li class="scroll"><a href="ServicosT2.html">           Serviços           </a></li>
            </button>
            <button type="submit" class="btn btn-defaultz">
            <li class="scroll"><a href="ServicosT.html">            usuarios </a></li>
            </button>
          </ul>
          
          <a href="../../index.html" class="btn btn-info">
          <span class="glyphicon glyphicon-road"></span> Sair </a>

        </div>

        <div class="container" >
        <div class="col-md-10">
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Marca e alternar agrupados para melhor exibição móvel -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> Meus Dados: </a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#"> Editar perfil <span class="sr-only">(current)</span></a></li>
                  <li><a href="#">  </a></li>
                 <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Dropdown  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#"> Action              </a></li>
                      <li><a href="#"> Another action      </a></li>
                      <li><a href="#"> Something else here </a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#"> Separated link </a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#"> One more separated link </a></li>
                    </ul> -->
                  </li>
                </ul>
                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Serviços">
                  </div>
                    <!-- <button type="submit" class="btn btn-default"></button> -->
                </form>
                <ul class="nav navbar-nav">
                  <li><a href="#senha"> Mudar senha </a></li>
                 <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li> -->
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          
          <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"> Transportadora: Vitti             </li>
          <li class="breadcrumb-item active" aria-current="page"> Data de trabalho: 04 / 09 / 2001. </li>
          <li class="breadcrumb-item active" aria-current="page"> Tipo de carga: Leve               </li>
        </ol>
      </nav>
     <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"> Transportadora: Vitti             </li>
          <li class="breadcrumb-item active" aria-current="page"> Data de trabalho: 04 / 09 / 2001. </li>
          <li class="breadcrumb-item active" aria-current="page"> Tipo de carga: Leve               </li>
        </ol>
      </nav>  
            <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"> Transportadora: Vitti             </li>
          <li class="breadcrumb-item active" aria-current="page"> Data de trabalho: 04 / 09 / 2001. </li>
          <li class="breadcrumb-item active" aria-current="page"> Tipo de carga: Leve               </li>
        </ol>
      </nav>  
            <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"> Transportadora: Vitti             </li>
          <li class="breadcrumb-item active" aria-current="page"> Data de trabalho: 04 / 09 / 2001. </li>
          <li class="breadcrumb-item active" aria-current="page"> Tipo de carga: Leve               </li>
        </ol>
      </nav> 
     <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"> Transportadora: Vitti             </li>
          <li class="breadcrumb-item active" aria-current="page"> Data de trabalho: 04 / 09 / 2001. </li>
          <li class="breadcrumb-item active" aria-current="page"> Tipo de carga: Leve               </li>
        </ol>
      </nav>      

  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="../../index.html"><img class="img-responsive" src="../../assets/images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2017 The way.</p>
          </div>
          <div class="col-sm-6">
           <!-- <p class="pull-right">Projetado por <a href="http://www.themeum.com/">Themeum</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>