<!DOCTYPE html>
<html lang="pt-br">
<head>
  
  <!-- Metatags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
    
   <title> Cadastre-se - Encontre a transportadora mais ideal a você </title>

  <!-- Importação do CSS -->
  <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../assets/css/animate.min.css" rel="stylesheet">
  <link href="../../../assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../../assets/css/lightbox.css" rel="stylesheet">
  <link href="../../../assets/css/main.css" rel="stylesheet">
  <link id="css-preset" href="../../../assets/css/presets/preset1.css" rel="stylesheet">
  <link href="../../../assets/css/responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../../assets/css/estilotw.css">
  <link rel="shortcut icon" href="../../../assets/images/logo.png">
  <link href="http://cdn.phpoll.com/css/animate.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Importação do JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../../../assets/js/html5shiv.js"></script>
  <script src="../../../assets/js/respond.min.js"></script>

</head>
<body>

  <!-- Nome do formulario -->
  <center><h1> Parte 2 </h1></center>  
   <h2> Aqui haverá a próxima etapa do cadastro da transportadora, que será focada em informações mais especificas das transportadpras. </h2>

<!-- Button (Double) - Botão (Duplo) -->
       <form class="form-horizontal"> 
        <div class="form-group">
          <label class="col-md-4 control-label" for="botton1"></label>
          <div class="col-md-8">
            <a href=""           class="btn btn-success" role="button"> Enviar   </a>
            <a href="../../../index.html" class="btn btn-danger" role="button"> Cancelar </a>
          </div>
        </div>

        <!-- Botão para Home -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="botton1"></label>
          <div class="col-md-8">
            <a href="cadastroT.html" class="btn btn-warning" role="button"> Voltar </a>         
          </div>
        </div>
      </form>
 </body>
</html>
